/* _content/Blazor.UI.FormGenerator/DynamicMudForm.razor.rz.scp.css */
.my-component[b-7ydc9b5v6z] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
    
}



