
/src/Restaurant.Template/.vs
/src/Restaurant.Template/bin
/src/Restaurant.Template/obj
/src/bin
/src/obj
/src/.vs
/Restaurant.Expenses/obj
/Restaurant.Peoples/obj
/Restaurant.Portals/obj
/Restaurant.Reports/obj
/Restaurants.AdvancedSettings/obj
