/* _content/Restaurant.Foods/Component1.razor.rz.scp.css */
.my-component[b-kilwp1x8po] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
