/* _content/Restaurant.Expenses/Component1.razor.rz.scp.css */
.my-component[b-frw5yzzkja] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
